@model Firma.Data.Data.CMS.CompanyHistory

@{
    ViewData["Title"] = "Dodaj historię firmy";
}

<div class="container my-5 d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white">
                <h4 class="mb-0 text-center">Formularz dodawania historii firmy</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Header" class="form-label fw-bold"></label>
                        <input asp-for="Header" class="form-control" placeholder="Wprowadź nagłówek" />
                        <span asp-validation-for="Header" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Contents" class="form-label fw-bold"></label>
                        <input asp-for="Contents" class="form-control" placeholder="Wprowadź treść" />
                        <span asp-validation-for="Contents" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="AdresURL" class="form-label fw-bold"></label>
                        <input asp-for="AdresURL" class="form-control" placeholder="Wprowadź adres URL" />
                        <span asp-validation-for="AdresURL" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="CreatedAt" class="form-label fw-bold">Data utworzenia</label>
                        <input asp-for="CreatedAt" class="form-control" placeholder="Data utworzenia" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="UpdatedAt" class="form-label fw-bold">Data aktualizacji</label>
                        <input asp-for="UpdatedAt" class="form-control" placeholder="Data aktualizacji" />
                        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-4">
                        <button type="submit" class="btn shadow-none">Zapisz historię firmy</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-4 text-center">
            <a asp-action="Index" class="btn">Powrót do listy</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
