html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.card-header {
    background-color: #8B5151 !important;
}

.input-validation-error {
    border-color: red;
}

input:focus {
    background-color: white;
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 51, 0.25) !important;
}

textarea:focus {
    background-color: white;
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 51, 0.25) !important;
}

select:focus {
    background-color: white;
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 51, 0.25) !important;
}

.form-check-input:checked {
    background-color: #8B5151 !important;
    border-color: #8B5151 !important;
}

.bg-success {
    background-color: #88DA58 !important;
}

.bg-danger {
    background-color: #AF0B0B !important;
}

.table-color {
    background-color: #FFF0F0 !important;
}

html {
    position: relative;
    min-height: 100%;
}

.btn-primary {
    color: #8B5151 !important;
    background-color: #FFE0E0 !important;
    border-color: #8B5151 !important;
    cursor: pointer;
}

.btn {
    background-color: #FFE0E0 !important;
    color: #8B5151 !important;
    font-weight: bold;
}

    .btn:hover {
        background-color: #8B5151 !important;
        color: #FFE0E0 !important;
    }

    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none !important;
    }

.rusty-background {
    background-color: #8B5151;
}

.misty-rose-background {
    background-color: #F7DAD9;
}

.bakery-rose-background {
    background-color: #ffe0e0;
}

header {
    background-color: #ffe0e0;
    position: sticky;
    top: 0;
    z-index: 9999;
}

    header a {
        color: #8B5151 !important;
        font-size: 1em;
        font-weight: bold;
    }

        header a:hover {
            color: #3B4B54 !important;
        }

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139, 81, 81, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    border-color: #8B5151;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: #8B5151;
}

.logo-lg {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    background-color: #8B5151;
}

.logoFooter {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #FFE0E0;
}

.dropdown-menu {
    background-color: #FFE0E0 !important;
}

    .dropdown-menu a {
        color: #8B5151 !important;
    }

        .dropdown-menu a:hover {
            color: #3B4B54 !important;
        }

footer {
    line-height: 30px !important;
}

    footer li {
        list-style: none;
    }

    footer a {
        color: #FFE0E0 !important;
        text-decoration: none;
    }

        footer a:hover {
            color: #3B4B54 !important;
        }

    footer p {
        margin-bottom: 0.25em;
    }
