@model Firma.Data.Data.Sklep.Reklamacja

@{
    ViewData["Title"] = "Edytuj Reklamację";
}

<div class="container my-5 d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white">
                <h4 class="mb-0 text-center">Formularz edycji Reklamacji</h4>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <input type="hidden" asp-for="IdReklamacji" />
                    <div class="form-group mb-3">
                        <label asp-for="IdZamowienia" class="form-label fw-bold">Zamówienie</label>
                        <select asp-for="IdZamowienia" class="form-control" asp-items="ViewBag.IdZamowienia">
                            <option value="">Wybierz zamówienie</option>
                        </select>
                        <span asp-validation-for="IdZamowienia" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Opis" class="form-label fw-bold"></label>
                        <textarea asp-for="Opis" class="form-control" placeholder="Wprowadź opis reklamacji"></textarea>
                        <span asp-validation-for="Opis" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="DataZgloszenia" class="form-label fw-bold"></label>
                        <input asp-for="DataZgloszenia" class="form-control" placeholder="Wprowadź datę zgłoszenia" />
                        <span asp-validation-for="DataZgloszenia" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-4 text-center">
            <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
