@model IEnumerable<Firma.Data.Data.CMS.Aktualnosc>

<div id="carousel-container" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner h-100">
        @foreach (var item in Model)
        {
            <div class="carousel-item @(item.Pozycja == 1 ? "active" : "")">
                <div class="row px-5">
                    <div class="col-12 offset-lg-1 col-lg-5 text-center d-none d-md-block">
                        <img src=@item.AdresURL class="d-block w-100 carousel-img" alt="First slide lodowkomat">
                    </div>
                    <div class="col-12 col-lg-5 pt-5 pt-lg-0">
                        <h4 class="text-center fw-bold">@item.Tytul</h4>
                        <p class="text-center my-3">
                            @item.Tresc
                        </p>
                        <div class="text-center">
                            <a class="btn mt-3" role="button">Sprawdź!</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-container" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-container" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>