@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row my-5 py-5">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row px-5">
                        <div class="col-12 offset-lg-1 col-lg-5 text-center d-none d-md-block">
                            <img src="~/content/lodowkomat.jpg" class="d-block w-100 heightCarouselImg" alt="First slide lodowkomat">
                        </div>
                        <div class="col-12 col-lg-5 pt-5 pt-lg-0">
                            <h4 class="text-center">Torty dostępne 24/7!</h4>
                            <h5 class="text-center">Zamów już dziś do Lodówkomatu InPostu!</h5>
                            <p class="text-center">
                                Jak to działa? Wystarczy odwiedzić naszą stronę internetową i wybrać swój ulubiony tort spośród naszej bogatej oferty, a następnie wybrać Lodówkomat InPost, do którego go dostarczymy. Nie musisz się martwić o godziny otwarcia - nasze torty są dostępne dla Ciebie 24/7!
                            </p>
                            <div class="text-center">
                                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Home" asp-action="Sklep">WYBIERZ I ZAMÓW TORT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row px-5">
                        <div class="col-12 offset-lg-1 col-lg-5 text-center d-none d-md-block">
                            <img src="~/content/new_shop.jpg" class="d-block w-100 heightCarouselImg" alt="Second slide new shop">
                        </div>
                        <div class="col-12 col-lg-5 pt-5 pt-lg-0">
                            <h4 class="text-center">Już otwarte!</h4>
                            <h5 class="text-center">Nowa cukiernia, nowe smaki, nowe doznania!</h5>
                            <p class="text-center">
                                Witajcie w naszej najnowszej cukierni, miejscu, które tętni życiem i aromatem świeżo pieczonych wypieków! Z ogromną radością ogłaszamy otwarcie naszej nowej przystani dla miłośników słodkości. Nasza cukiernia to nie tylko miejsce, gdzie można znaleźć najwyższej jakości wypieki.
                            </p>
                            <div class="text-center">
                                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Home" asp-action="Cukiernie">WYZNACZ TRASĘ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
  
    <dic class="row my-5 py-5 bakery-rose-background">
        <div class="col">
            <h2 class="text-center mb-5">Dlaczego warto nas wybrać?</h2>
            <div class="row text-center g-4">
                <div class="col-md-4">
                    <div class="feature-icon text-primary">🎂</div>
                    <h5>Ręcznie robione wypieki</h5>
                    <p>Każdy produkt tworzony jest z sercem – jak w domu!</p>
                </div>
                <div class="col-md-4">
                    <div class="feature-icon text-success">📦</div>
                    <h5>Możliwość zamówień online</h5>
                    <p>Wygodna platforma do zamówień przez internet.</p>
                </div>
                <div class="col-md-4">
                    <div class="feature-icon text-danger">⭐</div>
                    <h5>Najwyższa jakość składników</h5>
                    <p>Używamy tylko sprawdzonych i naturalnych produktów.</p>
                </div>
            </div>
        </div>
    </dic>

    <div class="row my-5 py-5" id="galeria">
        <div class="container text-center">
            <h2 class="mb-4">Galeria naszych wypieków</h2>
            <div class="row g-4">
                <div class="col-md-4 gallery-item">
                    <img src="~/content/ciastka.jpg" alt="Ciastka" class="img-fluid">
                </div>
                <div class="col-md-4 gallery-item">
                    <img src="~/content/tort.jpg" alt="Tort" class="img-fluid">
                </div>
                <div class="col-md-4 gallery-item">
                    <img src="~/content/bezy.png" alt="Bezy" class="img-fluid">
                </div>
                <div class="col-md-4 gallery-item">
                    <img src="~/content/ciastka.jpg" alt="Ciastka" class="img-fluid">
                </div>
                <div class="col-md-4 gallery-item">
                    <img src="~/content/bezy.png" alt="Bezy" class="img-fluid">
                </div>
                <div class="col-md-4 gallery-item">
                    <img src="~/content/tort.jpg" alt="Tort" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5 py-5 text-center bakery-rose-background">
        <div class="col">
        <h3 class="mb-3">Masz ochotę na coś słodkiego?</h3>
            <a class="btn btn-lg" asp-area="" asp-controller="Home" asp-action="Kontakt">Skontaktuj się z nami</a>
        </div>
    </div>

    <div class="row my-5 py-5">
        <div class="col-12 col-xl-6">
            <img src="~/content/macarons.jpg" alt="Macarons" class="img-fluid ">
        </div>
        <div class="col-12 col-xl-6 mt-3 mt-xl-0">
            <h4>Historia firmy</h4>
            <h5>Tradycyjne receptury, naturalne składniki, niezapomniane smaki.</h5>
            <p>"Sweet Shop" to rodzinnie prowadzona cukiernia, której początki sięgają lat dzieciństwa założyciela, Marka. Marek od najmłodszych lat fascynował się sztuką cukierniczą, inspirując się smakami i aromatami, które tworzył razem z matką w kuchni swojego domu.</p>
            <p>Kiedy Marek dorósł, postanowił podzielić się swoją pasją i wyjątkowymi wypiekami z innymi. Wraz z żoną Ewą, która dzieliła jego zamiłowanie do cukiernictwa, otworzyli własny sklep ze słodyczami - "Sweet Shop".</p>
            <p>Od samego początku "Sweet Shop" przyciągało uwagę mieszkańców swoim wyjątkowym urokiem i bogactwem smaków. Markowi i Ewie zależało na tworzeniu słodkości, które nie tylko smakują wyśmienicie, ale także wywołują uśmiech na twarzach klientów.</p>
        </div>
    </div>
</div>