@model Firma.Data.Data.CMS.Strona
@{
    ViewData["Title"] = Model.LinkTytul;
}

<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row my-5 py-5">
        @await Html.PartialAsync("Aktualnosci", (IEnumerable<Firma.Data.Data.CMS.Aktualnosc>)ViewBag.ModelAktualnosci)
    </div>
    <div class="row my-5 py-5 bakery-rose-background">
        @await Html.PartialAsync("Advantage", (IEnumerable<Firma.Data.Data.CMS.Advantage>)ViewBag.ModelAdvantage)
    </div>
    <div class="row my-5 py-5">
        @await Html.PartialAsync("Galeria", (IEnumerable<Firma.Data.Data.CMS.ZdjecieGaleria>)ViewBag.ModelGaleria)
    </div>
    <div class="row my-5 py-5 text-center bakery-rose-background rounded-4 shadow-sm">
        <div class="col">
            <h2 class="mb-5 fw-bold dark-rusty-color">Masz ochotę na coś słodkiego?</h2>
            <a href="/sklep" class="btn btn-lg btn-secondary px-4 py-2 shadow-sm ">
                Przejdź do sklepu
            </a>
        </div>
    </div>
    <div class="row my-5 py-5 align-items-center">
        @await Html.PartialAsync("CompanyHistory", (Firma.Data.Data.CMS.CompanyHistory)ViewBag.ModelCompanyHistory)
    </div>
</div>