<div class="row misty-rose-background p-4">
    <div class="container">
        <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col">
                <div class="card h-100">
                    <a class="card-link" asp-area="" asp-controller="Home" asp-action="Sklep">
                        <div class="card text-center">
                            <img src="~/content/bezy.png" alt="Bezy" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Bezy</h5>
                                <p class="card-text">Nasze bezowe wypieki to czysta harmonia smaku i delikatności. Każdy kęs naszych bezów to podróż w świat subtelnych aromatów i rozkosznych doznań. Przygotuj się na niebiańską przyjemność bez kompromisów!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <a class="card-link" asp-area="" asp-controller="Home" asp-action="Sklep">
                        <div class="card text-center">
                            <img src="~/content/ciasto.jpg" alt="Ciasta" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Ciasta</h5>
                                <p class="card-text">Przygotowujemy ciasta na zamówienie, które idealnie sprawdzą się jako dodatek do kawy lub herbaty. Nie trać czasu na przygotowania - zamów ciasto w naszej cukierni z dowozem i zaskocz rodzinę i znajomych pysznym deserem!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <a class="card-link" asp-area="" asp-controller="Home" asp-action="Sklep">
                        <div class="card text-center">
                            <img src="~/content/ciastka.jpg" alt="Ciastka" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Ciastka</h5>
                                <p class="card-text">Spraw swojemu podniebieniu niezapomniane doznania z naszymi kruchymi ciastkami! Nasze wypieki to nie tylko pyszne smaki, ale także przyjemność dla oczu. Zanurz się w świecie słodkich marzeń i odkryj magię każdego kęsa!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <a class="card-link" asp-area="" asp-controller="Home" asp-action="Sklep">
                        <div class="card text-center">
                            <img src="~/content/tarta.jpg" alt="Tarty" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Tarty</h5>
                                <p class="card-text">Nasze wyrafinowane tarty to harmonijne połączenie kruchego spodu z wyjątkowymi nadzieniami, które tworzą niezapomniane doznania smakowe, idealne na każdą okazję. Skosztuj i odkryj nieodzowną słodycz na Twoim stole!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <a class="card-link" asp-area="" asp-controller="Home" asp-action="Sklep">
                        <div class="card text-center">
                            <img src="~/content/tort.jpg" alt="Torty" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Torty</h5>
                                <p class="card-text">Nasze wyjątkowe torty to kulminacja mistrzowskiej cukierniczej sztuki, łącząca smak, wygląd i wyjątkowy charakter w jednym wspaniałym wypieku. Spróbuj naszych tortów i pozwól, aby słodycz i elegancja zagościły na Twoim stole!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <a class="card-link" asp-area="" asp-controller="Home" asp-action="Sklep">
                        <div class="card text-center">
                            <img src="~/content/wszystko.png" alt="Cały asortyment" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Cały asortyment</h5>
                                <p class="card-text">Nasz szeroki asortyment to prawdziwa uczta dla zmysłów, łącząca najlepsze receptury z najświeższymi składnikami i niezrównanym rzemiosłem. Od wyrafinowanych tortów po delikatne ciasta, które są gotowe, aby uczynić Twoje chwile wyjątkowymi.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>