<div class="container my-5">
    <div class="d-flex flex-wrap justify-content-center gap-4">
        @foreach (var item in Model)
        {
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="card-front">
                        <img src="@item.AdresURL" alt="@item.Nazwa" />
                        <h5>@item.Nazwa</h5>
                    </div>
                    <div class="card-back">
                        <p>@item.Opis</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>