@model IEnumerable<Firma.Data.Data.Sklep.Skladnik>

<div class="container ">
    <div class="row mt-5">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-3 p-1">
                <div class="card border border-1">
                    <img src=@item.AdresURL alt=@item.Nazwa class="ingredient-img">
                    <div class="m-2">
                        <h3>@item.Nazwa</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Jednostka: @item.Jednostka</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>