<div class="container m-5">
    <div class="row mb-2">
        <div class="col-12 text-center mb-2">
            <h1 class=" section-title mb-0">Nasze produkty</h1>
        </div>
        <div class="col-12">

            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown">
                Sortuj według
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Najpopularniejsze</a></li>
                <li><a class="dropdown-item" href="#">Najnowsze</a></li>
                <li><a class="dropdown-item" href="#">Cena: od najniższej</a></li>
                <li><a class="dropdown-item" href="#">Cena: od najwyższej</a></li>
            </ul>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card product-card h-100">
                <img src="~/content/ciastka.jpg" class="card-img-top product-img" alt="Tort czekoladowy">
                <div class="card-body">
                    <h5 class="card-title">Tort czekoladowy</h5>
                    <p class="card-text">Bogaty tort czekoladowy z kremem i owocami</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">89,99 zł</h5>
                        <div class="input-group input-group-sm" style="width: 120px;">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                            <input type="text" class="form-control quantity-input" value="1">
                            <button class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <button class="btn btn-primary w-100">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
            <div class="card product-card h-100">
                <img src="~/content/tort.jpg" class="card-img-top product-img" alt="Sernik wiedeński">
                <div class="card-body">
                    <h5 class="card-title">Sernik wiedeński</h5>
                    <p class="card-text">Klasyczny sernik na kruchym spodzie</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">34,99 zł</h5>
                        <div class="input-group input-group-sm" style="width: 120px;">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                            <input type="text" class="form-control quantity-input" value="1">
                            <button class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <button class="btn btn-primary w-100">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
            <div class="card product-card h-100">
                <img src="~/content/ciasto.jpg" class="card-img-top product-img" alt="Makowiec">
                <div class="card-body">
                    <h5 class="card-title">Makowiec</h5>
                    <p class="card-text">Tradycyjny makowiec z bakaliami</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">29,99 zł</h5>
                        <div class="input-group input-group-sm" style="width: 120px;">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                            <input type="text" class="form-control quantity-input" value="1">
                            <button class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <button class="btn btn-primary w-100">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
            <div class="card product-card h-100">
                <img src="~/content/ciastka.jpg" class="card-img-top product-img" alt="Tort czekoladowy">
                <div class="card-body">
                    <h5 class="card-title">Tort czekoladowy</h5>
                    <p class="card-text">Bogaty tort czekoladowy z kremem i owocami</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">89,99 zł</h5>
                        <div class="input-group input-group-sm" style="width: 120px;">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                            <input type="text" class="form-control quantity-input" value="1">
                            <button class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <button class="btn btn-primary w-100">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
            <div class="card product-card h-100">
                <img src="~/content/tort.jpg" class="card-img-top product-img" alt="Sernik wiedeński">
                <div class="card-body">
                    <h5 class="card-title">Sernik wiedeński</h5>
                    <p class="card-text">Klasyczny sernik na kruchym spodzie</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">34,99 zł</h5>
                        <div class="input-group input-group-sm" style="width: 120px;">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                            <input type="text" class="form-control quantity-input" value="1">
                            <button class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <button class="btn btn-primary w-100">Dodaj do koszyka</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
            <div class="card product-card h-100">
                <img src="~/content/ciasto.jpg" class="card-img-top product-img" alt="Makowiec">
                <div class="card-body">
                    <h5 class="card-title">Makowiec</h5>
                    <p class="card-text">Tradycyjny makowiec z bakaliami</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">29,99 zł</h5>
                        <div class="input-group input-group-sm" style="width: 120px;">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                            <input type="text" class="form-control quantity-input" value="1">
                            <button class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <button class="btn btn-primary w-100">Dodaj do koszyka</button>
                </div>
            </div>
        </div>
    </div>
</div>