@model Firma.Data.Data.Sklep.Skladnik

@{
    ViewData["Title"] = "Create";
}

<div class="container my-5 d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white">
                <h4 class="mb-0 text-center">Formularz dodawania składnika</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Nazwa" class="form-label fw-bold"></label>
                        <input asp-for="Nazwa" class="form-control" placeholder="Wprowadź nazwę składnika" />
                        <span asp-validation-for="Nazwa" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Jednostka" class="form-label fw-bold"></label>
                        <input asp-for="Jednostka" class="form-control" placeholder="Wprowadź jednostkę (np. g, ml)" />
                        <span asp-validation-for="Jednostka" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="AdresURL" class="form-label fw-bold"></label>
                        <input asp-for="AdresURL" class="form-control" placeholder="Wprowadź adres URL zdjęcia" />
                        <span asp-validation-for="AdresURL" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn shadow-none">Zapisz składnik</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-4 text-center">
            <a asp-action="Index" class="btn">Powrót do listy</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
